@use "./variables" as var;

@mixin body-padding() {
	padding-left: 100px;
	padding-right: 100px;
}

@mixin btn() {
	cursor: pointer;
	color: var.$color-white;
	padding: 10px 20px;
	border-radius: 30px;
	display: inline-block;
	background-image: linear-gradient(to right, var.$color-lime-green, var.$color-bright-cyan);

	&:hover,
	&:active {
		background-image: linear-gradient(to right, rgba(var.$color-lime-green, .8), rgba(var.$color-bright-cyan, .8));
	}
}