* {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(233, 8%, 62%);
}

img {
  display: block;
}

p {
  font-size: 18px;
}

body {
  position: relative;
}

nav {
  z-index: 15;
  position: absolute;
  left: 0;
  width: 100%;
  background: hsl(0, 0%, 100%);
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 900px) {
  nav {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 900px) {
  nav {
    height: 60px;
  }
}
nav .nav-container {
  padding: 20px 0;
  width: auto;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container .logo {
  cursor: pointer;
}
nav .nav-container .nav-menu {
  display: flex;
  gap: 30px;
  align-self: stretch;
}
@media screen and (max-width: 900px) {
  nav .nav-container .nav-menu {
    display: none;
  }
}
nav .nav-container .nav-menu .menu {
  cursor: pointer;
  font-weight: 400;
}
nav .nav-container .nav-menu .menu:hover, nav .nav-container .nav-menu .menu:active {
  color: hsl(233, 26%, 24%);
  border-bottom: 3px solid black;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
nav .nav-container .btn {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
nav .nav-container .btn:hover, nav .nav-container .btn:active {
  background-image: linear-gradient(to right, rgba(49, 211, 92, 0.8), rgba(43, 183, 218, 0.8));
}
@media screen and (max-width: 900px) {
  nav .nav-container .btn {
    display: none;
  }
}
nav .nav-container .hamburger {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 900px) {
  nav .nav-container .hamburger.show {
    display: block;
  }
}

.menu-cover {
  position: absolute;
  width: 100vw;
  height: calc(100% - 60px);
  background: linear-gradient(rgba(45, 49, 77, 0.8) 0%, rgba(45, 49, 77, 0.4) 50%, rgba(255, 255, 255, 0.8) 100%);
  transform: translateX(-50%);
  top: 60px;
  left: 50%;
  z-index: 10;
  display: none;
}
@media screen and (max-width: 900px) {
  .menu-cover.show {
    display: block;
  }
}
.menu-cover .menu-container {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 50vw;
  height: auto;
  margin: 10px auto;
  text-align: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
}
.menu-cover .menu-container .nav-menu {
  color: hsl(233, 26%, 24%);
  cursor: pointer;
}
.menu-cover .menu-container .nav-menu:hover, .menu-cover .menu-container .nav-menu:active {
  font-weight: 700;
}

main {
  position: relative;
  overflow-x: hidden;
}
main .main-top {
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 900px) {
  main .main-top {
    padding-left: 80px;
    padding-right: 80px;
  }
}
main .main-top .main-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  align-items: center;
  position: relative;
}
main .main-top .main-container .main-content {
  place-self: center;
  width: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
main .main-top .main-container .main-content .title {
  color: hsl(233, 26%, 24%);
  font-weight: normal;
}
main .main-top .main-container .main-content .btn {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
main .main-top .main-container .main-content .btn:hover, main .main-top .main-container .main-content .btn:active {
  background-image: linear-gradient(to right, rgba(49, 211, 92, 0.8), rgba(43, 183, 218, 0.8));
}
main .main-top .main-container .main-img {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 90vh;
}
main .main-top .main-container .main-img .bg {
  width: 100%;
  position: absolute;
  top: -110px;
  right: -150px;
  z-index: 1;
}
main .mockup-container {
  position: absolute;
  top: -100px;
  right: -50px;
  z-index: 2;
  max-height: 900px;
  max-width: 50vw;
}
main .mockup-container .mockups {
  width: 100%;
}
main .main-middle {
  background-color: hsl(220, 16%, 96%);
  padding: 70px 0;
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 900px) {
  main .main-middle {
    padding-left: 80px;
    padding-right: 80px;
  }
}
main .main-middle .headline {
  color: hsl(233, 26%, 24%);
  font-weight: normal;
  margin-bottom: 20px;
}
main .main-middle .desc {
  margin-bottom: 50px;
  width: 50%;
}
main .main-middle .choices-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
main .main-middle .choices-block .choice {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
main .main-middle .choices-block .choice .icon {
  flex: 1;
}
main .main-middle .choices-block .choice .title {
  color: hsl(233, 26%, 24%);
  flex: 1;
}
main .main-middle .choices-block .choice .content {
  height: 100%;
}
main .main-bottom {
  background-color: hsl(0, 0%, 98%);
  padding: 70px 0;
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 900px) {
  main .main-bottom {
    padding-left: 80px;
    padding-right: 80px;
  }
}
main .main-bottom .headline {
  color: hsl(233, 26%, 24%);
  font-weight: normal;
  margin-bottom: 20px;
}
main .main-bottom .articles-block {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 1fr;
  gap: 20px;
}
main .main-bottom .articles-block .article {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .main-bottom .articles-block .article .img-block {
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-height: 200px;
  min-height: 150px;
  flex: 1;
}
main .main-bottom .articles-block .article .img-block-1 {
  background-image: url(../images/image-currency.jpg);
}
main .main-bottom .articles-block .article .img-block-2 {
  background-image: url(../images/image-restaurant.jpg);
}
main .main-bottom .articles-block .article .img-block-3 {
  background-image: url(../images/image-plane.jpg);
}
main .main-bottom .articles-block .article .img-block-4 {
  background-image: url(../images/image-confetti.jpg);
}
main .main-bottom .articles-block .article .text-box {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
main .main-bottom .articles-block .article .text-box .author {
  font-size: 12px;
}
main .main-bottom .articles-block .article .text-box .title {
  color: hsl(233, 26%, 24%);
  font-size: 16px;
  cursor: pointer;
}
main .main-bottom .articles-block .article .text-box .title:hover, main .main-bottom .articles-block .article .text-box .title:active {
  color: hsl(171, 34%, 42%);
}
main .main-bottom .articles-block .article .text-box .desc {
  font-size: 14px;
}

footer {
  background: hsl(233, 26%, 24%);
  color: hsl(0, 0%, 100%);
  padding: 70px 0;
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 900px) {
  footer {
    padding-left: 80px;
    padding-right: 80px;
  }
}
footer .footer-container {
  display: grid;
  grid-template-columns: 25% 15% 15% auto;
  gap: 30px;
  min-height: 100px;
}
footer .footer-container .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-container .column-1 .logo {
  cursor: pointer;
}
footer .footer-container .column-1 .social-block {
  display: flex;
  gap: 15px;
}
footer .footer-container .column-1 .social-block svg {
  cursor: pointer;
}
footer .footer-container .column-1 .social-block svg:hover path, footer .footer-container .column-1 .social-block svg:active path {
  fill: hsl(171, 34%, 42%);
}
footer .footer-container .column .menu {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}
footer .footer-container .column .menu:hover, footer .footer-container .column .menu:active {
  color: hsl(171, 34%, 42%);
}
footer .footer-container .column-4 {
  text-align: right;
  align-items: flex-end;
}
footer .footer-container .column-4 .btn {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
footer .footer-container .column-4 .btn:hover, footer .footer-container .column-4 .btn:active {
  background-image: linear-gradient(to right, rgba(49, 211, 92, 0.8), rgba(43, 183, 218, 0.8));
}
footer .footer-container .column-4 .copyright {
  font-size: 14px;
  color: hsl(233, 8%, 62%);
}/*# sourceMappingURL=style.css.map */